<div class="tab flexcol veils" data-group="primary" data-tab="akashic-magic">
    <header class="flexcol akashic-magic-header" style="gap: 3px;">
        <div class="veilsummary">
            {{#if actor._rollData.akasha.veilweavingLevel}}
            <div data-tooltip="{{localize 'AkashicMagic.VeilweaverLevel.Total'}}" class="info-box veilweaver-level">
                <h5><a disabled>{{localize "AkashicMagic.VeilweaverLevel.Single"}}</a></h5>
                <span class="value">{{actor._rollData.akasha.veilweavingLevel}}</span>
            </div>
            {{/if}}
            <div class="info-box veilweaving-attr">
                <h5><a disabled>{{localize 'AkashicMagic.Attributes.mod'}}</a></h5>
                <span class="value">+{{actor._rollData.akasha.veilweavingAttr}}</span>
            </div>
        </div>
    </header>

    {{!-- Veils List --}}
    <div class="veil-list-container">
        <ol class="item-list">
            <li class="flexrow item-list-header veil-header veil-control" name="showVeils">
                <div class="item-name">
                    <h3>{{localize "AkashicMagic.ClassVeils"}}</h3>
                </div>
                <div class="item-detail item-actions">
                    <i class="icon-pf icon-gears" data-tooltip="PF1.ActionPlural"></i>
                </div>
                <div class="item-detail veil-essence">
                    <i class="icon-pf icon-battery-pack" data-tooltip='{{localize "AkashicMagic.VeilEssence"}}'></i>
                </div>
                <div class="item-detail veil-slots" style="flex-basis:15%">
                    <i class="icon-pf icon-battle-gear" data-tooltip='{{localize "AkashicMagic.VeilSlots"}}'></i>
                </div>
            </li>
            {{#each (getClassVeils actor) as |veil|}}
            <li class="item flexrow" id="{{veil.id}}" draggable="true" style="">
                <div class="item-name">
                    <a class="item-image veil-control" style="background-image: url({{veil.img}});"
                        data-tooltip="PF1.DisplayInChat" name="display" id="{{veil.id}}"></a>
                    <a class="veil-control" name="veilName" id="{{veil.id}}">
                        <h4 class="">
                            {{veil.name}}
                        </h4>
                    </a>
                </div>

                <div class="item-detail veil-uses flexrow">
                    <a id="{{veil.id}}" class="item-control veil-control item-toggle-shaped enabled" name="shaped"
                        data-tooltip="AkashicMagic.Shaped">
                        <i class="fa-solid fa-cog veil-icon prepared" inert=""></i>
                    </a>
                </div>

                <div class="item-detail item-actions">
                    <div class="item-action">
                        <a class="item-control item-action action roll veil-control" name="use" id="{{veil.id}}">
                            <i class="fa-solid fa-dice-d20" inert=""></i>
                        </a>
                    </div>
                </div>

                <div class="item-detail veil-uses flexrow">
                    <div><span class="text-box" data-type="amount"
                            data-dtype="Number">{{veil.system.investedEssence}}</span>
                    </div>
                    <span class="sep"> / </span>
                    <div><span class="text-box" data-type="max" data-dtype="Number">1</span>
                    </div>
                </div>
                <div class="item-detail veil-slots"><span
                        data-tooltip="{{#each veil.system.slots as |slot|}} {{slot}} {{/each}}">{{#each
                        veil.system.slots as |slot|}} {{slot}} {{/each}}</span>
                </div>
                <div class="identified item-summary accordion" id="veil-summary-{{veil.id}}">
                    <div class="description identified">
                        <div class="description-body">
                            {{veil.system.description.value}}
                        </div>
                    </div>
                </div>
            </li>
            {{/each}}
        </ol>
    </div>
</div>