<form class="{{cssClass}} flexcol" autocomplete="off" data-tooltip-class="pf1">

  {{!-- Item Sheet Header --}}
  <header class="sheet-header flexrow">
    <img class="profile" src="{{item.img}}" data-tooltip="{{item.name}}" data-edit="img">

    <div class="flexrow header-details">
      <h1 class="item-name">
        <input name="name" type="text" value="{{item.name}}" placeholder="{{localize " PF1.ItemName"}}">
      </h1>

      {{! Content Source }}
      {{~> "systems/pf1/templates/internal/content-source-view.hbs"}}

    </div>
  </header>

  {{!-- Sidebar --}}
  <section class="sidebar">
    <header>
      <h3 class="item-type">{{itemType}}</h3>
    </header>

    <h5>{{localize "AkashicMagic.ChakraSlots.Plural"}}</h5>
    <label class="slots">
      <span class="value">
        {{#if system.chakraSlots.names}}
        {{#each system.chakraSlots.names as |slot|}}
        {{slot}}{{#unless @last}}, {{/unless}}
        {{/each}}
        {{else}}
        <em>{{localize "PF1.None"}}</em>
        {{/if}}
      </span>
    </label>
    {{#if system.descriptors.names}}
    <ul class="property-list descriptors tags" style="">
      <h5>{{localize "AkashicMagic.Veils.Descriptors.Plural"}}</h5>
      {{#each system.descriptors.names as |descriptor|}}
      <li class="property generic-tag {{descriptor}}">{{descriptor}}</li>
      {{/each}}
    </ul>
    {{/if}}
  </section>

  {{!-- Item Sheet Navigation --}}
  <nav class="sheet-navigation tabs" data-group="primary">
    <a class="item" data-tab="description">{{localize "PF1.Description"}}</a>
    <a class="item" data-tab="details">{{localize "PF1.Details"}}</a>
  </nav>

  {{!-- Item Sheet Body --}}
  <section class="primary-body">
    {{!-- Description Tab --}}
    {{> "systems/pf1/templates/items/parts/item-description.hbs"}}

    {{!-- Details Tab --}}
    <div class="tab details" data-group="primary" data-tab="details">

      {{!-- Chakra Slots --}}
      <div class="form-group flexrow slots" style="">
        <label>{{localize "AkashicMagic.ChakraSlots.Label"}}</label>
        <div class="form-fields">
          <ul class="traits-list tag-list">
            {{#if system.chakraSlots.names}}
            {{#each system.chakraSlots.names as |slot|}}
            <li class="tag {{slot}}">{{slot}}</li>
            {{/each}}
            {{/if}}
          </ul>
          <a class="trait-selector" data-title="AkashicMagic.ChakraSlots.Label" data-for="system.chakraSlots.base"
            data-options="chakraSlots" style=""><i class="fa-solid fa-edit" inert=""></i></a>
        </div>
      </div>

      {{!-- Descriptors --}}
      <div class="form-group flexrow descriptors" style="">
        <div class="form-group flexrow descriptors" style="">
          <label>{{localize "AkashicMagic.Veils.Descriptors.Label"}}</label>
          <div class="form-fields">
            <ul class="traits-list tag-list">
              {{#if system.descriptors.names}}
              {{#each system.descriptors.names as |descriptor|}}
              <li class="tag {{descriptor}}">{{descriptor}}</li>
              {{/each}}
              {{/if}}
            </ul>
            <a class="trait-selector" data-title="PF1.DescriptorPlural" data-for="system.descriptors.base"
              data-options="spellDescriptors"><i class="fa-solid fa-edit" inert=""></i></a>
          </div>
        </div>
      </div>
  </section>
</form>